:root {

}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #3b82f6;

    display: grid;
    grid-template-rows: repeat(12, 1fr) 4fr;
    grid-template-columns: 1fr 2fr;
}

.sidebar > a {
    color: #eff6ff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.sidebar > img {
    align-self: center;
    justify-self:end;
    margin-right: 15px;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: #eff6ff;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
    align-items: center;
}

.top-row > input[type="search"] {
    height: 30%;
    background-color: #dbeafe;
    border: none;
    border-radius: 25px;
}

.bottom-row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr 1fr;
    align-items: center;
}

.bottom-row > button {
    height: 40%;
    margin-right: 10px;
    background-color: #3b82f6;
    border-radius: 25px;
    color: #eff6ff;
    border: none;
}

.bottom-row > button:active {
    background-color: #2563eb;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #dbeafe;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.col-two {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
}

.card {
    background-color: #eff6ff;
    border-radius: 5px;
}

.projects > p {
    position: absolute;
    top: 24%;
}

.side-card {
    background-color: #eff6ff;
    border-radius: 5px;
}

#announcements {
    position: absolute;
    top:24%;;
}

#trending {
    position: absolute;
    bottom: 34.5%;
}