.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(1fr, 5);
    width: 100vw;
    height: 100vh;

}

.sidebar {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    background-color:hwb(160 50% 0%);


}

.sidebar-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 12);
    height: 70vh;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: aqua;
}

.content {
    background-color:darkkhaki;
    grid-row: 2 / 5;
}

.dashboard {

}

.sidebar-container > button {
    border: none;
    background:none;
    
}

.sidebar-container > button:hover {
    background-color: hwb(160 50% 30%)
}